
header{
display:flex ;
justify-content: space-between;
align-items: right;
padding:30px 10% ;
box-sizing: border-box;
margin:0 ;
padding: 0;
font-family: 'Courier New', Courier, monospace;
font-size: 20px;
border: 30px;
border-color: #f2e03d;
background-color:#a7b5c9 ;
;
}
.logo{
    margin-right: auto;
    width: 300px;
    height:300px ;
    border-radius: 50%;
}
.lista li{
    display: inline-block
}
body{
    background-color:#cff3fa ;
}
.logo{
    height: 70px;
    width: auto;
}
.nav{
    font-size: 700;
color: #f2e03d;
}

h1{
    color:#6f7378 ;
    
}
p{
    width: 40%
    
}
.profilnal{
    float: right;
    margin: 15px;
}
.profilnar{
    float: left;
    margin: 15px;
}

.projectsCrausel {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}

img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
.prvaslika{
    
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.drugaslika{
    
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.trecaslika{
    
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
footer {
    text-align: center;
    padding: 3px;
    background-color: #9aa2ad;
    color: white;
  }
  .mojihobi{
    text-align: center;
  }
    .samojako{
        display: flex;
        justify-content: center;
    }
    .projects {
        margin: 150px;
        border: 1px solid #a7b5c9;
        display: table;
        -webkit-transition: all 0.5s;
      }
      .lijevimenu {
        display: table-cell;
        margin: 0;
        padding: 0;
        width: 400px;
        height: 100%;
        overflow: auto;
      }
      .lijevimenua1 {
        display: block;
        padding: 5px;
        width: 300px;
        text-decoration: none;
        background-color:#a7b5c9 ;
        border: 1px solid#939ead ;
        cursor: pointer;
        -webkit-transition: all 0.5s;
      }
      .lijevimenua2 {
        display: block;
        padding: 5px;
        width: 300px;
        text-decoration: none;
        background-color: #a7b5c9;
        border: 1px solid #939ead;
        cursor: pointer;
        -webkit-transition: all 0.5s;
      }
      .lijevimenua3 {
        display: block;
        padding: 5px;
        width: 300px;
        text-decoration: none;
        background-color: #a7b5c9;
        border: 1px solid#939ead ;
        cursor: pointer;
        -webkit-transition: all 0.5s;
      }
      .prezentacija {
        display: table-cell;
        margin-left: 400px;
        padding: 5px;
        vertical-align: middle;
      }
      .slajd {
        display: block;
        width: 70%;
        text-align: center;
      }
      .slajdnone {
        display: none;
      }
      